<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DMS.Module.Map.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DMS.Module.Map.Properties.NoSaveSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DMS.Module.Map.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastLayoutCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="MapListOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MapPropertyOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MapTaskStateOpacity" serializeAs="String">
                <value>1</value>
            </setting>
        </DMS.Module.Map.Properties.Settings>
        <DMS.Module.Map.Properties.NoSaveSettings>
            <setting name="IPCamPopupStates" serializeAs="String">
                <value/>
            </setting>
        </DMS.Module.Map.Properties.NoSaveSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
